{% extends "base.html" %}

{% block content %}
<div class="parallax" style="background-image: url({{ image }});">
    <div class="parallax-content">
      <h1>Санкт-Петербург</h1>
    </div>
    <div class="mask"></div>
  </div>

  <div class="content">
    <div>
      <p>
        Проект SaintMap представляет собой веб-приложение для исследования города. Оно покажет вам места Санкт-Петербурга, которые точно смогут вас заинтеросовать.
      </p>
    </div>
  </div>

  <div class="parallax" style="background-image: url({{ image }});">
    <div class="parallax-content"></div>
    <div class="mask"></div>
  </div>

  <div class="content">
    <div>
      <p>
        В Санкт-Петербурге очень много необычных мест, многие из которых тяжело найти на карте, если не знать о них.<br>
        Даже жители Санкт-Петербурга могут не знать, что в их городе такое огромное количество очень интресных мест: <br>
        тематические дворики, восхитительные граффити, необычные кафешки и многое другое.
    </div>
  </div>

  <div class="parallax" style="background-image: url({{ image }});">
    <div class="parallax-content"></div>
    <div class="mask"></div>
  </div>

  <div class="content">
    <div>
      <p>
        Если вы самостоятельно нашли какое-то уникальное место,<br>
        не отмеченное на карте, можете написать нам на почту:<br>
        <b>saintmap_newplace@gmail.com</b>
      </p>
    </div>
  </div>

  <div class="parallax" style="background-image: url({{ image }});">
    <div class="parallax-content"></div>
    <div class="mask"></div>
  </div>

</div>
{% endblock %}